<app-my-toolbars></app-my-toolbars>
<div class="content" role="main">

    <h2>Bejelentkezés</h2>
    <div layout="row" layout-margin>
        <div flex>
            <label>Felhasználónév: </label>
            <input type="text" id="username" [(ngModel)]="username">
        </div>
        <div flex>
            <label>Jelszó: </label>
            <input type="password" id="password" [(ngModel)]="password">
        </div>
    </div>
    <button (click)="login()">Bejelentkezés</button>
    <button (click)="toRegister()">Regisztráció</button>

    <div class ="content" role="main" *ngIf="responseMessage != ''">
        <h4>{{responseMessage}}</h4>
    </div>
  
</div>
