<div class="toolbar" role="banner" *ngIf="getRole() == 'user'">
    
    <div class="toolbar-border"></div>
    <span>Játékbolt</span>
    <div class="spacer"></div>
    <span>Jogoultsági szint: felhasználó</span>
    <div class="spacer"></div>
    <a [routerLink]="['/main']">Játékok</a>
    <div class="spacer"></div>
    <a [routerLink]="['/myaccount']">Profilom</a>
    <div class="spacer"></div>
    <a [routerLink]="['/login']">Kijelentkezés</a>
    <div class="toolbar-border"></div>
</div>

<div class="toolbar" role="banner" *ngIf="getRole() == 'admin'">
    
    <div class="toolbar-border"></div>
    <span>Játékbolt</span>
    <div class="spacer"></div>
    <span>Jogoultsági szint: admin</span>
    <div class="spacer"></div>
    <a [routerLink]="['/admin/users']">Felhasználók</a>
    <div class="spacer"></div>
    <a [routerLink]="['/main']">Játékok</a>
    <div class="spacer"></div>
    <a [routerLink]="['/myaccount']">Profilom</a>
    <div class="spacer"></div>
    <a [routerLink]="['/login']">Kijelentkezés</a>
    <div class="toolbar-border"></div>
</div>

<div class="toolbar" role="banner" *ngIf="getRole() == ''">
    
    <div class="toolbar-border"></div>
    <span>Játékbolt</span>
    <div class="spacer"></div>
    <a [routerLink]="['/login']">Bejelentkezés</a>
    <div class="spacer"></div>
    <a [routerLink]="['/register']">Regisztráció</a>
    <div class="toolbar-border"></div>
</div>