<app-my-toolbars></app-my-toolbars>

<div class="content" role="main">

    <h2>Felhasználók:</h2>
    <div class = "spacer"></div>
    <table class = "table">
        <tr>
            <th class = "table">Felhasználónév</th>
            <th class = "table">E-mail cím</th>
            <th class = "table">Jogosultság</th>
        </tr>
        <ng-container *ngFor="let user of users">
            <tr>
                <td class = "table">{{getUsername(user)}}</td>
                <td class = "table">{{getEmail(user)}}</td>
                <td class = "table">{{getRole(user)}}</td>
                <td class = "table"><button (click)="setAdmin(user)">{{setSetAdminButtonTitle(user)}}</button></td>
                <td class = "table"><button (click)="deleteUser(user)">Törlés</button></td>
            </tr>
        </ng-container>
    </table>
    <div clss ="spacer"></div>
  
</div>

<div class ="content" role="main" *ngIf="responseMessage != ''">
    <h4>{{responseMessage}}</h4>
</div>